ML Assignment1 By Akhila M S

#importing the library tool pandas

In [1]:
import pandas as pd

#creating the pandas object (df)

In [3]:
df = pd.read_excel('Downloads/review.xlsx')

In [17]:
print('Reviews given by the users')

Reviews given by the users

In [4]:
df

    user_id  stars
0         1      3
1         2      5
2         3      4
3         4      4
4         5      3
5         6      3
6         7      5
7         8      5
8         9      4
9        10      4
10       11      3
11       12      4
12       13      4
13       14      5
14       15      3

#slicing the data

In [5]:
stars = df.iloc[:, 1]
stars

0     3
1     5
2     4
3     4
4     3
5     3
6     5
7     5
8     4
9     4
10    3
11    4
12    4
13    5
14    3
Name: stars, dtype: int64

calculating mean by using built-in method

In [6]:
print(stars.mean())

3.933333333333333

calculating median by using built-in method

In [7]:
print(stars.median())

4.0

calculating mode by using built-in method

In [8]:
print(stars.mode())

0    4
dtype: int64

calculating variance by using built-in method

In [9]:
print(stars.var())

0.6380952380952379

calculating the SD by uding built-in method

In [10]:
print(stars.std())

0.7988086367179801

#calculating the mean by mathematical operation(non built-in method)

In [12]:
print(sum(stars) / len(stars))

3.933333333333333

In [19]:
df.sort_values(by=['stars'],inplace=True,ascending=True)
print(df)

    user_id  stars
0         1      3
4         5      3
5         6      3
10       11      3
14       15      3
2         3      4
3         4      4
8         9      4
9        10      4
11       12      4
12       13      4
1         2      5
6         7      5
7         8      5
13       14      5

#calculating the median by mathematical operation(non built-in method)

In [4]:
median = 0
n = len(stars)

if n % 2 == 0:
    median = (stars[n/2 -1] + stars[n/2]) / 2
else:
    median = stars[n//2]
print(median)

NameError: name 'star' is not defined

#calculating the mode by mathematical operation(non built-in method)

In [14]:
x = dict((key, (stars==key).sum()) for key in stars)
m = max(x.values())
for key,value in x.items():
    if value == m:
        print(key)

4

#calculating the variance by mathematical operation(non built-in method)

In [15]:
print(((stars - stars.mean()) ** 2 ).sum() / len(stars))

0.5955555555555555

#calculating the SD by mathematical operation(non built-in method)

In [16]:
import math
print(math.sqrt(float(((stars - stars.mean()) ** 2 ).sum() / len(stars))))

0.771722460186015